.bodyportion{
    background-image: url("./todo1.jpg");
    background-size: cover;
}
.navbar{
    background-color: rgb(236, 158, 195);
}
.bodyportionTodo{
    background-color: rgb(124, 140, 230);
}
.myMargin1{
    border: 1px solid rgb(107, 106, 106);
    border-radius: 30px;
    padding: 0%;
    background-color: rgb(208, 227, 243);
}
.btn{
    width: 100%;
    /* border-radius: 300px; */
}
.page{
    margin-top: 180px;
    /* margin-left: 50px; */
}
li{
    list-style:none;
}