.bodyportion{
    background-image: url("./todo7.jpg");
    background-size:cover;
}
.navbar{
    background-color: rgba(4, 1, 10, 0.753);
}
.bodyportionTodo{
    background-image: url("./todo7.jpg");
    background-size:contain;
}
.myMargin1{
    border: 1px solid rgb(107, 106, 106);
    border-radius: 30px;
    padding: 0%;
    background-color: rgba(11, 14, 15, 0.295);
}
.btn{
    width: 100%;
    /* border-radius: 300px; */
}
.page{
    margin-top: 120px;
    /* margin-left: 50px; */
}
li{
    list-style:none;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
#todoBox{
    width: 45%;
    border: 1px solid rgb(8, 5, 5);
    border-radius: 30px;
    padding: 0%;
    background-color: rgba(11, 14, 15, 0.678);
}